/* sig0namectl Domain Manager UI CSS */

h1 {
    margin-left: 3rem
}

#domain-list-section {
    max-width: 27rem;
    margin: 0 auto;
    padding: 3rem;
}

/* domain list */
ul#domain-list {
    list-style-type: none;
    margin: 0;
    margin-bottom: 2.5rem;
    padding: 0;
    width: 100%;

}

#domain-list li {
    display: flex;
    padding: 0;
    border-bottom: 1px solid #ddd;
}

#domain-list li div {
    padding: 0.2rem;
}

#domain-list li .domain {
    min-width: 15rem;
}

#domain-list li .status {
    font-size: smaller;
    color: grey;
}

/* advanced options */
#domain-advanced {
    margin-top: 4rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#domain-advanced #domain-advanced-toggle span.fa-solid {
    transition: .5s ease-in-out;
}

#domain-advanced.hidden #domain-advanced-toggle span.fa-solid {
    transform: rotate(-90deg);
}

#domain-advanced.hidden #domain-advanced-container {
    display: none;
}

#domain-advanced .import-export {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Domain Overview */
#domain-overview {
    z-index: 10;
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: calc(100% - 4rem);
    min-height: calc(100vh - 4rem);
    position: absolute;
    top: 0;
    left: 0;
}

#domain-overview button.page {
    font-size: x-large;
    width: 1.4em;
    height: 1.4em;
    border-radius: 0;
    float: right;
    border-width: 0;
}

#domain-overview-container {
    margin: 0 auto;
    max-width: 27rem;
}

#domain-overview label {
    display: inline-block;
    width: 10em;
}

#domain-overview input {
    margin-bottom: 0.5rem;
}

div.hidden,
section.hidden {
    display: none;
}