/* sig0namectl WASM admin CSS */

body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.3rem;
}

h6 {
    font-size: 1rem;
}

body,
p,
div {
    font-size: 1rem;
}

a {
    color: #000000;
}

/* form fields & buttons */
button,
input[type=file],
input[type=submit] {
    border-radius: 0.9em;
    border: solid 0.1rem #000;
    background-color: inherit;
}

button.icon {
    height: 1.8em;
    width: 1.8em;
    padding: 0;
}

/** Chrominum */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    button.icon {
        padding-top: 0.15em;
    }
}


button:hover {
    background-color: #ccc;
}