flake.nix
flake.lock
# exclude everything
keystore/*
# terraform
bind9/terraform/cloud_init.cfg
bind9/terraform/terraform.tfstate*
bind9/terraform/.terraform.lock.hcl
bind9/terraform/.terraform/
# ansible
bind9/ansible/ansible_ssh_key*
# exceptions to the rule
!keystore/.keep
!zones/.keep
