[Desktop Entry]
Icon=text-html
Name=20250723 IETF GAIA sig0namectl presentation
Type=Link
URL[$e]=https://youtube.com/clip/UgkxEI6U_CLKZaEAB6A0sMIRu3O52ULVZGRX?si=07Jr3vMQljF6t4S3
